.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.wrapper .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #363636;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #363636;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: rgb(78, 78, 78);
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #696969;
}

.navbar_flex{
    width: 100%;
    display: flex;
    align-items: center;
}

.list-unstyled.components li{
    padding-left: 15px;
}

.list-unstyled.components a .svg-inline--fa{
    margin-right: 10px;
    font-size: 20px;
}

.svg-inline--fa.fa-bars.fa-w-14{
    color: white;
    font-size: 25px;
}

#sidebarCollapse{
    background-color: #343a40;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #363636;
}

.bg-light {
    background-color: #363636 !important;
}

#content {
    width: 100%;
}

#bookings_table_wrapper{
    font-size: 12px;
}

#users_table_wrapper{
    font-size: 12px;
}

#rooms_table_wrapper{
    font-size: 12px;
}

.edit {
    font-size: 10px;
}

.booking_info{
    display: flex;
    
   padding: 20px;
}

.booking_info_left{
   padding: 20px;
   width: 50%;

}

.booking_info_right{
   padding: 20px;
   width: 50%;

}

.padding_20{
   padding: 20px;
}

.title{
   font-weight: bold;
}

.edit_link{
   margin-left: 10%;
}

.back_btn{
   margin: 30px;
}

.buttons{
   display: flex;
   padding: 10px;
   justify-content: space-around;
}

.message{
   margin: 20px;
}

@media (max-width: 768px){
   .booking_info{
    display: block;
   }

   .booking_info_left, .booking_info_right{
       width: 100%;
   }

   .booking_info_left{
       padding-bottom: 0;
   }

   .booking_info_right{
       padding-top: 0;
   }
}

/* ########################## */
/* Calendar display */
/* ########################## */

.days, .names{
    display: flex;
    text-align: center;
}

.day{
    min-width: 40px;
    min-height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.weekdays{
    min-width: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    max-height: 25px;
}

.dayweekcontainer{
    overflow-x: scroll;
}

.container_calendar{
    margin: auto;
    max-width: 1400px;
    padding: 10px;
}

.start{
    background-image: url('https://icingprint.co.uk/bookings/img_bookings/start.jpg');
}

.end{
    background-image: url('https://icingprint.co.uk/bookings/img_bookings/end.jpg');
}

.available{
    background-image: url('https://icingprint.co.uk/bookings/img_bookings/available.jpg');
}

.full{
    background-image: url('https://icingprint.co.uk/bookings/img_bookings/full.jpg');
}

.changeover{
    background-image: url('https://icingprint.co.uk/bookings/img_bookings/changeover.jpg');
}

.select_container{
    display: flex;
    margin-bottom: 50px;
}

.select_year{
    padding: 10px;
}

.select_month{
    padding: 10px;
}

#selected_time{
    text-align: center;
}

/* ########################## */
/* End Calendar display */
/* ########################## */

/* ########################## */
/* Dashboard display */
/* ########################## */

.start_end{
    display: flex;
    justify-content: space-around ;
}

.start_end h4{
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.starting, .ending{
    padding: 20px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 10px;
}

.list-inline-item a{
    color: #3490dc;
}

@media (max-width: 768px){
    .start_end{
        display: block;
    }
}